* {
    margin: 0px;
    padding: 0px;
}

main {
    margin-left: 5px;
    margin-right: 5px;
}

#logo_bool {
    width: 10%;
    margin-top: 45px;
} 


#logo_head {
    height: 100px;
    background-color: rgb(76, 76, 255);
    background-repeat: repeat-x;
    background-size: contain;
    background-image: url("../img/pattern.png");
}


#title {
    font-size: xx-large;
    width: 60%;
}

#sub_title {
    color: rgb(104, 104, 104);
    width: 9%;
}

#link {
    text-decoration: none;
}

